.cartaContainer{
    
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 40% 20%;
     */
     display: flex;
     justify-content: space-around;

      
     background-color: rgb(236, 241, 182);
    }

.barra_branca {
    padding-bottom: 5vh;

}

.mesa {
    background-color: rgb(211, 129, 6);
    display: flex;
    flex-direction: column;
    margin : 3px;
    width: 100%;
    height: 100%;
}