.cartas_tab {
    
    display: flex;
    perspective: 1000px;
    margin: 1px;


    /* width: 20vw;
    height: 32vh;
    */
    border-color: #ff9b2a;
    background-color: rgb(208, 185, 230);
    justify-content: space-around;
    border-radius: 14px;
  
  
  }

.placar {
    width: 100%;
    background-color: #ff9b2a;
    display: flexbox;
    border-radius: 14px;

    text-align: center;
    color: rgb(41, 33, 83);
    font-weight: bold;

}

.placar_atual {
    color: rgb(0, 0, 8);
    font-weight:normal
    

}

.titulo {
    border-radius: 14px;
    background-color: blueviolet;
    text-align: center;
}

.titulo_atual {
    border-radius: 14px;
    background-color: #ff9b2a;
    text-align: center;
}

.naipe {
    padding: auto;
    margin: 10px;
    
    height: 100%;
}