.root {
    --laranja: #000102;
    --white: #ffffff;
    --border: 14px
  }

.cartas_tab {
    
    display: flex;
    perspective: 1000px;
    margin: 1px;


    /* width: 20vw;
    height: 32vh; ;
    */
    border-radius: 14px;
    border-color: #ff9b2a; 
    background-color: rgb(208, 185, 230);
    justify-content: space-around;
  
  
  }

.placar {
    width: 100%;
    background-color: #ff9b2a;
    display: flexbox;
    border-radius: 14px;

    text-align: center;
    color: rgb(41, 33, 83);
    font-weight: bold;

}

.placar_atual {
    color: rgb(0, 0, 8);
    font-weight:normal
    

}

.placarFinalizado {
    font-weight:normal;
    background-color: #a59685;
    font-weight: bold;
    color: #000;

}

.titulo {
    border-radius: 14px;
    background-color: blueviolet;
    text-align: center;
}

.titulo_atual {
    background-color: #ff9b2a;
}

.tituloFinalizado {
    background-color: #a59685;
    color: #000;
    font-weight: bold;
}

.naipe {
    padding: auto;
    margin: 10px;
    
    height: 100%;
}